

// COLOR FROM ASSETS PANEL 
$color_blog_404_Home_Text_Black: rgba(0,0,0,1);
$color_form_Nav_Skills_Text_White: rgba(255,255,255,1);
$color_icon_Black: rgba(29,29,29,1);
$color_header_Logo_Border: rgba(9,196,255,1);
$color_header_Logo_Blue: rgba(25,63,76,1);
$color_project_Project_Card_Bg_Light_Ash: rgba(243,239,239,1);

$color_home_Top_Path_Blue: rgba(21,35,71,1);
$color_home_Intro_Text_White: rgba(255,255,255,.89);
$color_form_Name_Highlight_Yellow: rgba(255,249,34,1);
$color_assets_10: rgba(255,255,255,33);
$color_www_Title_Blue_Ash: rgba(101,116,133,1);

$color_card_Border_Blog_Title_Underline_Dark_Ash: rgba(112,112,112,1);
$color_assets_13: rgba(188,208,253,1);
$color_assets_14: rgba(188,224,253,1);

$color_blog_Text_Ash: rgba(183,183,183,1);
$color_skills_Bg_Light_Blue: rgba(57,72,111,1);
$color_google_Drive_Icon_Blue: rgba(9,116,255,1);
$color_light_Purple: rgba(130,55,96,1);
$color_form_Deep_Blue: rgba(31,45,79,1);
$color_footer_1_Dark_Purple: rgba(107,53,83,1);
$color_home_Bg_Footer_Text_Light_Ash: rgba(204,204,204,1);

// FONTS:

/*
<link href="https://fonts.googleapis.com/css?family=Audiowide|Bangers|Shadows+Into+Light|Source+Sans+Pro&display=swap" rel="stylesheet">
*/

// Shadows Into
// Audiowide
// Segoe UI
// Microsoft Sans Serif
// MV Boli
// Bangers

$audio-font: 'Audiowide', cursive;
$shadow-font: 'Shadows Into Light', cursive;
$source-sans-pro: 'Source Sans Pro', sans-serif;
$bangers-font: 'Bangers', cursive;
// $roboto: 'Roboto Mono', monospace;
// $titillium: 'Titillium Web', sans-serif;
