.site-footer {
  padding: 2rem;
  text-align: center;
  color: $light-gray;
  background-color: $dark-chocolate;

  .footer-social-links {
    text-align: center;

    ul.social-links-list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      li {
        margin: 1rem;

        a {
          color: $dark-gray;

          &.medium:hover {
            color: #ffffff;
          }
          &.github:hover {
            color: rgb(242, 244, 246);
          }
          &.twitter:hover {
            color: rgb(56, 161, 243);
          }
          &.youtube:hover {
            color: rgb(221, 75, 57);
          }
          &.linkedin:hover {
            color: rgb(0, 119, 181);
          }
        }
      }
    }
  }
}
