.header--fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 300;

  // max-width: 90%;
  // margin: 0 auto;
  // clear: both;
}
.header {
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  padding: 3rem 0;
  &-logo-box {
    max-width: 6%;
    justify-self: flex-start;
    height: auto;
  }
  &-logo {
    width: 100%;
    height: auto;
  }
  &-search-box {
    // transform: translateX(-85%);
    justify-self: start;
    text-align: center;
    background: transparent;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    box-sizing: border-box;

    &-logo {
      padding: 0.5rem;
      width: 20%;
      height: auto;
      border-left: none;
      cursor: pointer;
      color: #3d4042;
    }
    #search {
      background: inherit;
      border: none;
      padding: 0.5rem;
      // width: 80%;
    }
  }
}

/**

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
*/
