.section {
  &-showcase {
    height: 100vh;
    box-sizing: border-box;
    &--content {
      display: flex;
      flex-direction: column;
      padding-left: 0;
      padding-right: 10%;
      padding-top: 20%;
      overflow: wrap;
      height: 100vh;
      color: $light-gray;
    }
    &--image-box {
      width: 100%;
      padding-right: 0;
      padding-left: 0;
    }
    &__image {
      width: 100%;
      height: 100vh;
    }
  }
  &-services {
    display: flex;
    flex-direction: row;
    padding-top: 12rem;
    padding-bottom: 1.5rem;
    height: 100vh;
    box-sizing: border-box;
    &__image-box {
      width: 80%;
      height: 96%;
      padding-top: 2rem;
      padding-bottom: 3rem;
      margin-right: 9rem;
      position: relative;
      z-index: 1;
    }
    &__image {
      max-width: 500px;
      height: 100%;
    }
    &-btn {
      position: absolute;
      z-index: 2;
      &-left {
        top: 50%;
        left: 0%;
      }
      &-right {
        top: 50%;
        right: 0%;
      }
      &-left button,
      &-right button {
        background-color: $dark-chocolate;
        border-radius: 0;
        border: none;
      }
    }
    &-slide-counter {
      position: absolute;
      top: -0%;
      padding: auto;
      left: -3%;
      background-color: $light-chocolate;
      width: 5rem;
      height: 9rem;
      color: $white;
      z-index: 3;
      font-size: 1rem;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-slide-details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $light-gray;
      font-size: 1rem;
      padding: 1rem 0 1rem 0;
    }
    &--content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-right: 5%;
      overflow: wrap;
      color: $light-gray;
    }
    &-list {
      overflow-y: hidden;
      width: 100%;
      height: 57%;
      padding-right: 7rem;
      overflow-y: scroll;
      overscroll-behavior-y: smooth;
      scroll-behavior: smooth;

      &::-webkit-scrollbar {
        width: 10px;
        background-color: rgba(0, 0, 0, 0);
      }
      &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.5);
      }
      &::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.068);
      }
    }
  }
  &-projects {
    display: flex;
    flex-direction: row;
    padding-top: 12rem;
    padding-bottom: 1.5rem;
    height: 100vh;
    box-sizing: border-box;
    &-content {
      margin-right: 9%;
      width: 20%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 90%;
    }
    // &-list {
    // }
    &-item {
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.7;
      color: $light-gray;
      &:hover {
        color: $light-chocolate;
      }
    }
    &-detail-heading {
      text-decoration: underline;
      color: $light-chocolate;
    }
    &-detail {
      justify-self: center;
      align-self: end;
      color: $light-gray;
    }

    &__image-box {
      position: relative;
      width: 80%;
    //   height: 100%;

      display: flex;
      flex-direction: column;
      padding-top: 7rem;
      padding-right: 10rem;
    }
    &__image {
        max-width: 100%;
        max-height: 100%;
    }
    &-track {
      position: absolute;
      top: -1rem;
      right: 0;
      padding-right: 10rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      
      & div {
        width: 2rem;
        height: 2rem;
        background-color: rgba($light-chocolate, 0.3);
      }
      & div:first-child {
        background-color: $light-chocolate;
      }
      & div:not(last-child) {
        margin-right: 10px;
      }
      & div:last-child {
        margin-right: 0px;
      }
    }
  }
}

// ========================================
// installed scrollBar-react but never used

/*
Used style template

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: lightgray;
}

::-webkit-scrollbar-thumb {
  background: gray;
}

::-webkit-scrollbar-thumb:hover {
  background: smokegreen;
}

*/
// =====================
// https://learn.shayhowe.com/advanced-html-css/complex-selectors/