.section {
  // ===========
  // SHOWCASE
  // ===============
  &-showcase {
    height: 100vh;
    box-sizing: border-box;
    &--content {
      display: flex;
      flex-direction: column;
      padding-left: 0;
      padding-right: 10%;
      padding-top: 20%;
      overflow: wrap;
      height: 100vh;
      color: $light-gray;
    }
    &--image-box {
      width: 100%;
      padding-right: 0;
      padding-left: 0;
    }
    &__image {
      width: 100%;
      height: 100vh;
    }
  }
  // ===========
  // SERVICES
  // ===============
  &-services {
    display: flex;
    flex-direction: row;
    padding-top: 12rem;
    padding-bottom: 1.5rem;
    height: 100vh;
    box-sizing: border-box;
    &__image-box {
      width: 80%;
      height: 96%;
      padding-top: 2rem;
      padding-bottom: 3rem;
      margin-right: 9rem;
      position: relative;
      z-index: 1;
    }
    &__image {
      // max-width: 50rem;
      max-width: 100%;
      height: 100%;
    }
    &-btn {
      width: 20%;
      height: 10%;
      position: absolute;
      z-index: 2;
      &-left {
        top: 50%;
        left: 0%;
      }
      &-right {
        top: 50%;
        right: 0%;
      }
      &-left button,
      &-right button {
        width: 100%;
        height: 100%;
        background-color: $dark-chocolate;
        border-radius: 0;
        border: none;
      }
    }
    &-slide-counter {
      position: absolute;
      top: -0%;
      padding: auto;
      left: -3%;
      background-color: $light-chocolate;
      width: 5rem;
      height: 9rem;
      color: $white;
      z-index: 3;
      font-size: 1rem;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-slide-details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $light-gray;
      font-size: 1rem;
      padding: 1rem 0 1rem 0;
    }
    &--content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding-right: 5%;
      overflow: wrap;
      color: $light-gray;
    }
    &-list {
      overflow-y: hidden;
      width: 100%;
      height: 57%;
      padding-right: 7rem;
      overflow-y: scroll;
      overscroll-behavior-y: smooth;
      scroll-behavior: smooth;

      &::-webkit-scrollbar {
        width: 10px;
        background-color: rgba(0, 0, 0, 0);
      }
      &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.5);
      }
      &::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.068);
      }
    }
    &-info-btn {
      // position: relative;
      // width: 4rem;
      // margin-left: 90%;
      float: right;
      text-align: center;
      width: 20%;
      height: 10%;
      background: rgba(greenyellow, 0.1);
      padding: 0.5rem;
      box-sizing: border-box;
      transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.9s;
      &-icon {
        // position: absolute;
        width: 25%;
        height: 15%;
        border-radius: 0;
        border: none;
        color: $dark-gray;
      }
      &:hover &-icon {
        color: $white;
      }
    }
  }
  // ===========
  // PROJECTS
  // ===============
  &-projects {
    display: flex;
    flex-direction: row;
    padding-top: 12rem;
    padding-bottom: 1.5rem;
    padding-right: 5%;
    height: 100vh;
    box-sizing: border-box;
    &-content {
      margin-right: 9%;
      width: 20%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 90%;
    }
    // &-list {
    // }
    &-item {
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.7;
      color: $light-gray;
      transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.9s;
      &:hover {
        color: $light-chocolate;
        cursor: pointer;
      }
      &:focus {
        color: $light-chocolate;
      }
    }
    &-detail-heading {
      text-decoration: underline;
      color: $light-chocolate;
    }
    &-detail {
      justify-self: self-end;
      align-self: end;
      color: $light-gray;
    }

    &__image-box {
      position: relative;
      width: 80%;
      height: 100%;

      display: flex;
      flex-direction: column;
      padding-top: 7rem;
      // padding-right: 10rem;
    }
    &__image {
      max-width: 100%;
      height: 100%;
    }
    &-track {
      position: absolute;
      top: -1rem;
      right: 0;
      // padding-right: 10rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      & div {
        width: 2rem;
        height: 2rem;
        background-color: rgba($light-chocolate, 0.3);
      }
      & div:first-child {
        background-color: $light-chocolate;
      }
      & div:not(last-child) {
        margin-right: 10px;
      }
      & div:last-child {
        margin-right: 0px;
      }
    }
  }
  // ===========
  // TEAM
  // ===============
  &-team {
    display: flex;
    flex-direction: column;
    padding-top: 12rem;
    padding-bottom: 1.5rem;
    padding-right: 5%;
    height: 110vh;
    &-team-content {
      display: flex;
      flex-direction: column;
    }
    &-cta {
      display: flex;
      justify-content: space-between;

      &-header {
        padding-right: 3%;
        float: left;
        flex: 1 1 100%;
      }
      & p {
        flex: 1 1 50%;
        text-align: end;
        color: $light-gray;
        margin-left: 5%;
      }
    }
    &-details {
      display: flex;
      flex-direction: column;
      .paginate {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 2%;
        &-left,
        &-right {
          background-color: $light-chocolate;
          border-radius: 0;
          border: none;
        }
        &-left {
          margin-right: 1rem;
        }
      }
    }
    // ==============
    // TEAM GALLERY
    // =============
    &-gallery {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      flex-flow: row;
      // width: 100%;
      height: 100%;
      color: $white;
      justify-content: space-between;
      overflow-x: hidden;
      // overflow-x: scroll;
    }
    // ==============
    // TEAM GALLERY CARD
    // =============
    &-card {
      max-width: 15rem;
      // max-width: 30rem;
      height: 32.3rem;

      flex: 1 1;

      display: flex;
      flex-wrap: nowrap;

      margin-left: 2%;
      transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.9s;
    }
    &-card--img-box {
      width: 100%;
      max-height: 100%;
      height: auto;

      position: relative;
    }
    &-card--details {
      visibility: hidden;
      display: none;
      padding: 1em;
      background: $light-brown-4;
    }
    &-card:hover {
      // max-width: 30rem;
      max-width: 45rem;
    }
    &-card:hover &-card--img-box,
    &-card:hover &-card--details {
      width: 100%;
      visibility: visible;
      display: block;
    }
    &-card--image {
      display: block;
      height: 100%;
    }
    &-card--counter {
      position: absolute;
      color: $light-brown-3;
      font-weight: bold;
      padding: 1em;
      z-index: 1;
    }
  }
}

// section-team-gallery

// ========================================
// installed scrollBar-react but never used

/*
Used style template

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: lightgray;
}

::-webkit-scrollbar-thumb {
  background: gray;
}

::-webkit-scrollbar-thumb:hover {
  background: smokegreen;
}

*/
// =====================
// https://learn.shayhowe.com/advanced-html-css/complex-selectors/
